<div class="col-md-6 col-md-offset-3">
	<div>
		<h1>Dit product is klaar om uit te lenen</h1>
	</div>
	<div>
		<strong>Title:</strong>
		<%= @shareable.title %>
	</div>
	<div>
		<strong>Description:</strong>
		<%= @shareable.text %>
	</div>
	<div>
		<%= image_tag @shareable.image.url(:medium)%>
	</div>
	<div>
		<%= link_to "Terug", shareables_path, :class=> "btn btn-primary" %>
		<%= link_to "Aanpassen", edit_shareable_path, :class=> "btn btn-primary" %>
		<%=	link_to "Verwijderen", shareable_path, :class=> "btn btn-primary", method: :delete, data: { confirm: "Weet je het zeker?"} %>
	</div>
</div>